 /* * {
  border: 1px red solid;
} */

/* ==================== */
/*        BODY        */
/* ==================== */
body {
  background-image: linear-gradient(#707070, black);
  background-repeat: no-repeat;
  margin: 0px;
}
/* ==================== */
/*        HEADER        */
/* ==================== */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
    padding: 20px;
}
.links {
    display: flex;
    flex-direction: row;

}
.links > a {
    padding: 0px 10px;
}
.resume {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: #e0e0e0;
    margin-top: 10px;
}
.title {
    display: flex;
    color: #e0e0e0;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    font-size: 26px;
}
div > a, img{
  height: 40px;
  width: auto;
}
/* ==================== */
/*         MAIN         */
/* ==================== */
.main {
    font-family: 'Roboto', sans-serif;
    font-size: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e0e0e0;
    margin: 125px 0px 250px 0px;
}
.main > h4 {
    padding: 0px 0px 50px 45px;
    text-shadow: 1px 1px 5px black;
}
svg {
    height: 80px;
    width: 80px;
    padding: 10px;
}
#mainarrow:hover {
    border: 2px #e0e0e0 solid;
    border-radius: 100px;
}
svg:hover {
    border: 2px #8c8c8c solid;
    border-radius: 100px;
}
/* ==================== */
/*       ABOUT ME       */
/* ==================== */
.content {
    background-color: #e0e0e0;
    margin: 0px;
    padding: 70px;
    height: 600px;
}
.content > h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: #8c8c8c;
    font-family: 'Roboto', sans-serif;
}
.aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
}
.aboutmecontainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 75px;
}
.left-aboutme > img {
    border-radius: 200px;
    border: 5px #8c8c8c solid;
    height: 300px;
    width: auto;
    display: flex;
    flex-direction: column;
}
.left-aboutme {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right-aboutme {
    width: 60%;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    align-items: center;
    padding: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: right;
}
/* ==================== */
/*       QUOTE 1        */
/* ==================== */
.quote {
    color: #999999;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 50px 70px;
    font-size: 38px;
}
/* ==================== */
/*       MY WORK        */
/* ==================== */
.myworkcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
}
.mywork {
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top {
    display: flex;
    flex-direction: row;
    height: 325px;
}
a {
    text-decoration: none;
}
.bottom {
    display: flex;
    flex-direction: row;
    height: 325px;
}
.project {
    height: 280px;
    width: 470px;
    box-shadow: -7px -7px 5px #999999;
    background-repeat: no-repeat;
    margin: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.project > div {
    width: 50%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project > p {
    word-spacing: 5px;
}
.project1 {
    background-image: linear-gradient(#ad32ff, #e37c81);
}
.project1:hover {
    background-image: url('https://lh3.googleusercontent.com/2_9PFCHzu0YpdGuaFyG1k4mhuyR66w6NYwa_oSsnKzjBD5qZJUI9g6F2hLKP5yK0Sgzto48REIBjK5A2SInJ4dwFoDlpXmEIfMxsmvBnbCYCMuo1lq_pxs405FRSwLaCm7e_R-EQ6DmPgPEWV-3zWTD5jRJn-0os6YcrC2gb6e1xSShpe6yxwIJ7VcAkKrtGIETVlSaFN0mq3bPqSw0Xqz_Ze1hBVhQdYK2DlVJ-d9_RBIC_GcOaf7ebzBsi2G2bP0WL6Vnl-GL0jOWs2MpQzSwghHn6dCLv7a6cgxz2Z-zEgHnDJcaG25PvOIdB8mU8M1bJzKF7pv-aqkPgQ7neDoOdsDrItUfRYXxiiAOMeXFwGmuEqgkua_tYZYYgldvutatEMC7DPwHHQ9sE3ow2jhepWxPRRa1iNzEDZhUkS7SiWXaLJ4ksB_-L1CsLSvM-WpMzggdR62iaX1rOtm-zWcmgfiPU54mUfUM7WZ2BoNpizzORksAQ0HCHnx96tnfA0SntNtf50uaYukT7QTPN9w8Xt8lC1cpV8BFFTh1q4HaV4RMCGUCz1xUIZs5vS2vvPjUMRIEqETdttU26T7Ynm1PGwNhiqkgzYnUV8SiWGPJr6UdgTAaT95PQ6G7tsaeTDSoOxbXbCSaeMWC6xj-M6rg-pSxrr1qDU84RvxbWKX7bZmTXIx_tX1I=w2524-h1186-no');
    background-size: 470px 280px;
}
.project2 {
    background-image: linear-gradient(#e37c81, #ffdd47);
}
.project2:hover {
    background-image: url('https://lh3.googleusercontent.com/eBJ_B-xGSRPNzN5dGKWFxlF0fuhE8esZYu3KVGQ2LypaFkKGwxdLNDoS75socnmsmBcxFQoB1I2TbLEr1P-knJrczDnIwzqoJAnDrR-C9GAq5Hv6XdvoSN5sIVew-v63r4hQZClE6lTZ1PyNyB4erIVgpgb0T5gnOCtIPArIv1yqq1p8wRL-__jN-d_FheCj9ulc6Ojn4M3Gv9waLXoAmId3letd-fXFxYqS51ljUAUKNEhtc4F6bb631FJGCC9BuWpa48GrKqDMsQztETMeTleloWgaPDdWhNLs0Eg_Ah9Qib5nIV-nkXLRoAzphU2fzR4bxHU8--rOgOtb0gf_-f0WVLo786gn2N-OvAtpVGsgvC8uNoIK9_q4l2rDPHSt2g4uJ4qDoEDMs87nL7cp_EiLLr9fHID0lDBW3Ohyn_gX4gkV-HKPgBwNIDAIRWTpOWkeDM9OQbRq7LMCBO7ZF6SMuWkSVuMVjS-HImsbQEuyuAkOT5TBztGTSANeUDc_17lvhJYsdEZ03mvCDImD1HKmMDTYbJg88pj31gplUgRnyHxeGyfv-2q2OVIEzgYQM9rnGrCXaJEfLfAQNXk0j8I5q9d-_wBR7v3qtIeUf6CgBUNVunzPQJxR_kAPuLzcDWimDdwRGX6TEB4npAIyOAXQF1E-lKerQPWNT0uih5MjHzmP6bhlBYI=w2524-h1200-no');
    background-size: 450px 295px;
}
.project3 {
    background-image: linear-gradient(#9dff8c, #59e6ff);
}
.project3:hover {
    background-image: url('https://lh3.googleusercontent.com/VVOsBCZyrosBIlgHKheOgBrQODNCRsaosf4Rbs1d2jIYxsJfjc8E_xs5zI4jGe5pvuhCmeen65SccnOhVqW_3HOSyBsZhhNZUNuos5QHOO_D-9jCQ6GY3I81nt8kbmoh8PTZ2nvWS_gzwA5Qn6yxrP8RsiUP3NG65kSdv5Wa5ovHRko811huFDcTcLjLnwuOZOxnDUt8Bg-o7NMt9t4Qwg0zSIwLVbOOomS7c6C7lJAVPExKZL8WIZr0eZU8zqnafi-exHN3L_jNLaJzG9h6GO13TRRZHVnXMdm3WAdPvb_9PWRhYZnkY4KI5z1aXFuM7ofgICkhlNi6-rbPTZzcosM-7WcDZMS5ehHs1UBgdqXvglr_yD5jqzeS9eRu_Qvp-5AyM14TTFO-QQKZBdaLzwKGyecyneUHVcYOElUdj28S02NLfw6UIhXrSgV-1Iqe0IzKH5mfOHNi3EjdykHMNEhta1LHY4sTwsWvvhuTO_wBb0SPmNXJO6GOQHOHK705GOxvFuTNfZCAqhy-rQKrrMltjNUkKpKQbIE7HQaNw7h2KoMwVAUj9RvIrKy5hMwXxRDJ-I7vSmluoljRRV46dY6FVpkXefJuE1eMgSc0_PgRDAaQHJHvKZWa4cj3zPdWB6-PEb286hQAYckfuECt--jcmMDJbFIo_0yrZH2x1Ok3MOR8xOrKIOQ=w2524-h1304-no');
    background-size: 450px 295px;
}
.project4 {
    background-image: linear-gradient(#ad32ff, #9dff8c);
}
.project4:hover {
    background-image: url('https://lh3.googleusercontent.com/IgmV1MXWSrNGMIJlrBOOOfEwX9bibF-_3qfRKAvkbwxi_JTeyft7FDkKeL7x-yjt6afHD_VmaFP_MLli8JkjzIiWCF45ip4nhP6FKG30XU0ETr3yhggvEXmJQtHoUGCONB_RKuLM-_HXkinG7BBgioMANFZ9Sfa9LtR13cKBwXrufqLwhBW2jNbANZsE2tFfnn4LjweDffgiRrljqJoYYBwjnF8EqD4GcxzMmO1KZadDjDq7zO-8MFhydxUmJMDTvHjK9gWE1O9JdTytzfcAdzjUthAJVP6ecSrqvCOYu_K9na1q4u--PJ8S_1izGYuXQ6G0LaJQHOVDrEjp0Ffp7V8f848Cf1AEPV9WMbYMwX1D4FN7mhsHZp6ppMsCNJtFyt-HEekTZseol8uft0mCuH5D4a29gkvlKbaGKMcfWkfUNITt1Xab9z0QUOTjwV4MSBEwi7vx6E_2EMx9xYRosgFp87Rpkt114hqKj2rankeDIyxk0HY3C0a7c0VVCkmBayLZulXehNQ4JOfisradqAMDy4Ll-X4Rjg49VSGn539IXNfhVbEFgk9KqhM-abCqSnW2St0DSKVR9DROeTYTKY-b3L3rbsRKANn1BFJJ2B5XgD8r_UZRKNbbFU93qJfU0Yv0BBTtgvQmGjfg7In2_XgK1po3OSPxBbRikoZeqXEaClMGb1rbNBY=w2436-h1346-no');
    background-size: 450px 295px;
}
/* ==================== */
/*       QUOTE 2        */
/* ==================== */
/* ==================== */
/*       CONTACT        */
/* ==================== */
.contactme {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 750px;
}
.contactmecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contactmecontainer > div {
    margin: 30px;
    height: 450px;
    width: 300px;
    border: 2px #8c8c8c solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #8c8c8c;
    font-family: 'Poppins', sans-serif;
}
/* ==================== */
/*        FOOTER        */
/* ==================== */
.footer {
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 70px;
    height: 50px;
}
