 /* * {
  border: 1px red solid;
} */

/* ==================== */
/*        BODY        */
/* ==================== */
body {
  background-image: linear-gradient(#707070, black);
  background-repeat: no-repeat;
  margin: 0px;
}
/* ==================== */
/*        HEADER        */
/* ==================== */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
    padding: 20px;
}
.links {
    display: flex;
    flex-direction: row;
}
.links > a {
    padding: 0px 10px;
}
.title {
    display: flex;
    color: #e0e0e0;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    font-size: 26px;
}
div > a, img{
  height: 40px;
  width: auto;
}
/* ==================== */
/*         MAIN         */
/* ==================== */
.main {
    font-family: 'Roboto', sans-serif;
    font-size: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e0e0e0;
    margin: 125px 0px 250px 0px;
}
.main > h4 {
    padding: 0px 0px 50px 45px;
}
.main > svg {
    height: 80px;
    width: auto;
    padding: 10px;
}
.main > svg:hover {
    border: 2px #e0e0e0 solid;
    border-radius: 100px;
}
/* ==================== */
/*       ABOUT ME       */
/* ==================== */
.content {
    background-color: #e0e0e0;
    margin: 0px;
    padding: 70px;
    height: 600px;
}
.content > h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: #8c8c8c;
    font-family: 'Roboto', sans-serif;
}
.aboutmecontainer {
    display: flex;
    flex-direction: row;
}
.left-aboutme > img {
    border-radius: 200px;
    border: 5px #8c8c8c solid;
    height: 300px;
    width: auto;
    display: flex;
    flex-direction: column;
}
.left-aboutme {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right-aboutme {
    width: 60%;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    align-items: center;
    padding: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: right;
}
/* ==================== */
/*       QUOTE 1        */
/* ==================== */
.quote {
    color: #999999;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 50px 70px;
    font-size: 38px;
}
/* ==================== */
/*       MY WORK        */
/* ==================== */
.myworkcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mywork {
    height: 750px;
}
.top {
    display: flex;
    flex-direction: row;
}
.bottom {
    display: flex;
    flex-direction: row;
}
.project {
    height: 295px;
    width: 450px;
    box-shadow: -7px -7px 5px #999999;
    background-repeat: no-repeat;
    margin: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.project > div {
    width: 50%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project > p {
    word-spacing: 5px;
}
.project1 {
    background-image: linear-gradient(#ad32ff, #e37c81);
}
.project1:hover {
    background-image: url('https://lh3.googleusercontent.com/2_9PFCHzu0YpdGuaFyG1k4mhuyR66w6NYwa_oSsnKzjBD5qZJUI9g6F2hLKP5yK0Sgzto48REIBjK5A2SInJ4dwFoDlpXmEIfMxsmvBnbCYCMuo1lq_pxs405FRSwLaCm7e_R-EQ6DmPgPEWV-3zWTD5jRJn-0os6YcrC2gb6e1xSShpe6yxwIJ7VcAkKrtGIETVlSaFN0mq3bPqSw0Xqz_Ze1hBVhQdYK2DlVJ-d9_RBIC_GcOaf7ebzBsi2G2bP0WL6Vnl-GL0jOWs2MpQzSwghHn6dCLv7a6cgxz2Z-zEgHnDJcaG25PvOIdB8mU8M1bJzKF7pv-aqkPgQ7neDoOdsDrItUfRYXxiiAOMeXFwGmuEqgkua_tYZYYgldvutatEMC7DPwHHQ9sE3ow2jhepWxPRRa1iNzEDZhUkS7SiWXaLJ4ksB_-L1CsLSvM-WpMzggdR62iaX1rOtm-zWcmgfiPU54mUfUM7WZ2BoNpizzORksAQ0HCHnx96tnfA0SntNtf50uaYukT7QTPN9w8Xt8lC1cpV8BFFTh1q4HaV4RMCGUCz1xUIZs5vS2vvPjUMRIEqETdttU26T7Ynm1PGwNhiqkgzYnUV8SiWGPJr6UdgTAaT95PQ6G7tsaeTDSoOxbXbCSaeMWC6xj-M6rg-pSxrr1qDU84RvxbWKX7bZmTXIx_tX1I=w2524-h1186-no');
    background-size: 450px 295px;
}
.project2 {
    background-image: linear-gradient(#e37c81, #ffdd47);
}
.project2:hover {
    background-image: url('https://lh3.googleusercontent.com/eBJ_B-xGSRPNzN5dGKWFxlF0fuhE8esZYu3KVGQ2LypaFkKGwxdLNDoS75socnmsmBcxFQoB1I2TbLEr1P-knJrczDnIwzqoJAnDrR-C9GAq5Hv6XdvoSN5sIVew-v63r4hQZClE6lTZ1PyNyB4erIVgpgb0T5gnOCtIPArIv1yqq1p8wRL-__jN-d_FheCj9ulc6Ojn4M3Gv9waLXoAmId3letd-fXFxYqS51ljUAUKNEhtc4F6bb631FJGCC9BuWpa48GrKqDMsQztETMeTleloWgaPDdWhNLs0Eg_Ah9Qib5nIV-nkXLRoAzphU2fzR4bxHU8--rOgOtb0gf_-f0WVLo786gn2N-OvAtpVGsgvC8uNoIK9_q4l2rDPHSt2g4uJ4qDoEDMs87nL7cp_EiLLr9fHID0lDBW3Ohyn_gX4gkV-HKPgBwNIDAIRWTpOWkeDM9OQbRq7LMCBO7ZF6SMuWkSVuMVjS-HImsbQEuyuAkOT5TBztGTSANeUDc_17lvhJYsdEZ03mvCDImD1HKmMDTYbJg88pj31gplUgRnyHxeGyfv-2q2OVIEzgYQM9rnGrCXaJEfLfAQNXk0j8I5q9d-_wBR7v3qtIeUf6CgBUNVunzPQJxR_kAPuLzcDWimDdwRGX6TEB4npAIyOAXQF1E-lKerQPWNT0uih5MjHzmP6bhlBYI=w2524-h1200-no');
}
.project3 {
    background-image: linear-gradient(#9dff8c, #59e6ff);
}
.project4 {
    background-image: linear-gradient(#ad32ff, #9dff8c);
}

/* ==================== */
/*       QUOTE 2        */
/* ==================== */
/* ==================== */
/*       CONTACT        */
/* ==================== */
/* ==================== */
/*        FOOTER        */
/* ==================== */
.footer {
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 70px;
    height: 50px;
}
